# DB
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_HOST=localhost
POSTGRES_PORT=13000
POSTGRES_DATABASE=geospotter

# JWT
JWT_SECRET=123456123456
JWT_REFRESH_SECRET=123456123456


API_HOST=localhost
API_PORT=3000
API_PROTOCOL=http

# S3 Timeweb Configuration
S3_ACCESS_KEY=ваш_публичный_ключ
S3_SECRET_KEY=ваш_секретный_ключ
S3_BUCKET_NAME=имя_вашего_бакета
S3_REGION=ru-1
S3_ENDPOINT=https://s3.timeweb.com