AI_SERVICE_HOST=0.0.0.0
AI_SERVICE_PORT=8000

YOLO_MODEL_NAME=yolo11n.pt
YOLO_SEG_MODEL_NAME=yolo11n-seg.pt
YOLO_CONFIDENCE=0.25
YOLO_SEG_CONFIDENCE=0.25
YOLO_IMAGE_SIZE=640


YOLO_SEG_IMAGE_SIZE=640
YOLO_MIN_CROP_SIDE_PX=48
YOLO_MIN_UPSCALED_SIDE_PX=512


VLM_PROVIDER=lm_studio
LM_STUDIO_BASE_URL=http://127.0.0.1:1234/v1
LM_STUDIO_MODEL=local-model


RULE_ENGINE_MATCH_CONFIDENCE=0.6
RULE_ENGINE_NO_MATCH_CONFIDENCE=0.6
RULE_ENGINE_SEGMENTATION_MIN_COVERAGE=0.02
